USE [ProjeServer]
GO
/****** Object:  Table [dbo].[AdaptorTaban]    Script Date: 14.06.2019 23:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdaptorTaban](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NULL,
	[Soyad] [nvarchar](20) NULL,
	[Sınıf] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjeRehber]    Script Date: 14.06.2019 23:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjeRehber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rehber2]    Script Date: 14.06.2019 23:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rehber2](
	[Ad] [nchar](10) NULL,
	[Soyad] [nchar](10) NULL,
	[Telefon] [nchar](10) NULL,
	[EvCepIs] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RehberGuncelle]    Script Date: 14.06.2019 23:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RehberGuncelle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nchar](10) NULL,
	[Soyad] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefon]    Script Date: 14.06.2019 23:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](max) NULL,
	[Resim] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdaptorTaban] ON 
GO
INSERT [dbo].[AdaptorTaban] ([ID], [Ad], [Soyad], [Sınıf]) VALUES (1, N'Serkan', N'Parlak', 11)
GO
INSERT [dbo].[AdaptorTaban] ([ID], [Ad], [Soyad], [Sınıf]) VALUES (2, N'asd', N'asd', 321)
GO
INSERT [dbo].[AdaptorTaban] ([ID], [Ad], [Soyad], [Sınıf]) VALUES (3, N'asd', N'asd', 321)
GO
SET IDENTITY_INSERT [dbo].[AdaptorTaban] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjeRehber] ON 
GO
INSERT [dbo].[ProjeRehber] ([ID], [Ad], [Soyad], [Telefon]) VALUES (46, N'Recep', N'KAZICI', N'123346')
GO
INSERT [dbo].[ProjeRehber] ([ID], [Ad], [Soyad], [Telefon]) VALUES (47, N'sdf', N'sdfgrs', N'321')
GO
INSERT [dbo].[ProjeRehber] ([ID], [Ad], [Soyad], [Telefon]) VALUES (48, N'AJKLH', N'SJHDKCL', N'65877')
GO
SET IDENTITY_INSERT [dbo].[ProjeRehber] OFF
GO
INSERT [dbo].[Rehber2] ([Ad], [Soyad], [Telefon], [EvCepIs]) VALUES (N'Serkan    ', N'parlak    ', N'ads       ', N'asd       ')
GO
SET IDENTITY_INSERT [dbo].[RehberGuncelle] ON 
GO
INSERT [dbo].[RehberGuncelle] ([ID], [Ad], [Soyad]) VALUES (1, N'sdg       ', N'dfhh      ')
GO
INSERT [dbo].[RehberGuncelle] ([ID], [Ad], [Soyad]) VALUES (12, N'asd       ', N'bsd       ')
GO
INSERT [dbo].[RehberGuncelle] ([ID], [Ad], [Soyad]) VALUES (3, N'asd       ', N'ads       ')
GO
SET IDENTITY_INSERT [dbo].[RehberGuncelle] OFF
GO
SET IDENTITY_INSERT [dbo].[Telefon] ON 
GO
SET IDENTITY_INSERT [dbo].[Telefon] OFF
GO
